body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: white;
  padding: 5px 0;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
nav {
  text-align: center;
  margin: 10px 0;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}
section {
  padding: 20px;
  background-color: white;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-top: 20px;
}
